body {
  font-family: Arial, serif;
}

button {
  background-color: #8dee7c;

  border: 0;
  border-radius: 6px;

  font-size: 16px;
  color: #ffffff;

  outline: none;

  cursor: pointer;

  min-width: 100px;

  margin-left: 10px;
}

main {
  display: flex;

  flex-direction: column;

  margin: 20px 20px;
  padding: 10px;

  border: 1px solid #dedede;
  border-radius: 6px;


  max-width: 1024px;

  margin: 20px auto;

  > .main-container {
    > header {
      background-color: lightblue;
      border-radius: 6px;

      > h1 {
        font-size: 32px;
        color: #ffffff;

        margin-bottom: 10px;

        text-align: center;

        height: 60px;

        line-height: 60px;
      }
    }

    > footer {

      margin-top: 10px;

      text-align: center;

      padding: 10px;

      > button {
        height: 60px;
      }

      > span {
        color: #35ca00;

        font-size: 24px;
      }
    }
    > .content {
      display: flex;
      justify-content: space-between;

      > .right {
        display: flex;

        flex-direction: column;

        > .hints-wrapper {
          display: flex;
          flex-direction: column;

          margin-top: 20px;

          > img {
            align-self: center;
          }
        }
      }
      .left {
        flex-grow: 1;

        margin-right: 10px;

        display: flex;

        flex-direction: column;

        > h2 {
          font-size: 24px;

          margin-top: 10px;

          text-align: center;
        }
      }
    }
  }
}